.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.errorMessage {
  color: rgb(239 68 68 / 0.9);
  font-size: 0.8rem;
  padding: 0.5rem;
}
